<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Todo Application</title>
  </head>

  <body>
    <h1>Todo List</h1>
    <div>
      <form action="/" method="post">
        <div>
          <input type="text" name="title" placeholder="Enter a todo item" required/>
        </div>
        <div>
            <button type="submit">Add</button>
        </div>
      </form>
      <th:block th:each="tasks : ${tasks}">
        <div>
          <span th:text="${tasks.title}">Task Title</span>
        </div>
      </th:block>
    </div>
  </body>
</html>
